.post-card{
  position:absolute;
  z-index: 1;
  top:9.5%;
  right:33%;
  min-width: 440px;
  min-height: 539px;
  height: 80vh;
  justify-content: space-between;

  /* ......... */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 16px 0px 16px;
  margin: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  /* ........................... */
  position: fixed;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-9%, -30%); */
  /* z-index: 1000; Ensure the PostCard appears on top of the blurred background */
  /* Other styles */
}

.sec-1{
    display: flex;
    align-items: center;
    margin-top:0;
    margin-bottom: 30px;
    justify-content: space-between;
    border-bottom: 0.1px solid #ccc;
}
.sec-1 .Aa{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
}
.sec-1 .Bb{
    cursor: pointer;
}
.sec-1 h3{
    margin-left: 12px;
}

.sec-2{
    display: flex;
    flex-direction: column ;
}

.sec-2 > *{
    margin-bottom: 8px;
    padding:8px;
    /* border: 1px solid #ccc; */
    border:none;
    border-radius: 4px;
    outline: none;
    background-color: #f0f0f0;
    font-size:medium;
    font-weight: bold;
}
.sec-2 input{
    /* font-weight: bold; */

}
.sec-2 textarea{
    resize: none;

}
.sec-3{
    position:absolute;
    display: flex;
    bottom: 60px;
    /* border:1px solid red; */
}
.sec-3 > * {
   margin-right: 30px;
   color: #5a4f4f;
   cursor: pointer;
}
.sec-3 label{
    cursor: pointer;
}
.sec-3 p{
    margin-top: 0;
    margin-bottom: 0;
}

.sec-4{
    position:absolute;
    bottom: 0;
    width:90%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  
    /* border:1px solid red; */
}
.sec-4 button{
    padding:5px 16px; 
    background-color: #dbd2d2;
    border:none;
    font-weight: bold;
    cursor: pointer;
}
