.loginScreen{
    width: 400px;
    margin:100px auto;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.innerdiv{
    margin:20px;
    padding: 15px;
}
.loginScreen img{
    width:200px;
    margin-bottom:20px;
}
.loginScreen input{
    display: block;
    height: 40px;
    width:100%;
    margin-bottom: 10px;
    padding: 0px 10px;
    border:2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
}
.loginScreen input[type="submit"]{
    border-radius: 0px;
    background-color: #0077b5;
    border:0;
    color:#fff;
    letter-spacing: 2px;
    cursor:pointer;
}
.loginScreen h4{
    margin-top:7px;
    /* padding:0px; */
}
.loginScreen h4 span{
    color:#0077b5;
    cursor:pointer;
}

/* #error-message{
    color:red;
    margin:0px;
} */