.main-notification{
    background-image: url("/src/components/pages/notification/Notification.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 545px;
}